/*GENERIC -------------------------------------------*/
body{
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}


/*HEADER --------------------------------------------*/
.site-header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid #21486f;
}

.site-logo {
    max-width: 100%;
    height: auto;
}

.main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    margin-right: 20px;
}

.main-menu a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.main-menu a:hover {
    color: #666666;
}

.header-button {
    font-weight: bold;
    cursor: pointer;
    background-color: #21486f;
    border-radius: 20px;
}

.header-button:hover {
    color: #ffffff;
}

.header-button-image {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.nav-font li a {
    color: #21486f;
    font-size: 16px;
    text-transform: uppercase;
  }

  .phone-ico{
      width: 20px;
      height: 20px;
  }
